<h2>All Users</h2>
<br />
<% @users.each do |user| %>
  <div class="user">
  <h3><a href="/users/<%= user.username %>"><%= user.username %></a> <small> - <%= user.email %></small></h3> 
  </div>
<% end %>