  <div class="user">
  <h2>Username: <%= @user.username %></h2> 
  <a href="/users/<%= @user.username %>/downvotes">My Downvotes</a><br />
  <a href="/users/<%= @user.username %>/upvotes">My Upvotes</a>
  </div>