<!DOCTYPE html>
<html lang="en">
<head>


  <!-- CSS and Foundation -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
  
  <!-- JS -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"></script>
  <script src="/javascript/application.js"></script>


  <title>T H E &nbsp;  M U S I C &nbsp; W A L L</title>
</head>
<body>
<h1>T H E &nbsp;  M U S I C &nbsp; W A L L</h1>
  <%= yield %>
</body>
</html>
